

.btnclrs{background-color:#4446B1 ;color: white;}

.adduser{
    display: inline-block;
/* text-align: center; */
padding: 0px 20px;
line-height: 42px;
height:38px;
min-height: 38px;
min-width: 80px;
text-decoration: none !important;
color: #fff !important;
font-weight: 400;
border: 0px;
cursor: pointer;
text-transform: uppercase;
overflow: hidden;
box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
-moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
font-family: 'RobotoMedium';
font-size: 14px;
}

.txtright{
    text-align: right !important;
}
.excelbtn{
    background-color: #4446B1;
    color: white;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
    font-family: 'RobotoMedium';
}

ul.breadcrumb { margin: 0px; float: left; width: 100%; font-size: 14px; color: #333; border-radius: 0px; background: none }
ul.breadcrumb>li+li:before { content: "\f105"; font-family: FontAwesome; color: #666; padding: 0 10px 0 10px }
.breadcrumb li { float: left }
.breadcrumb li a { text-decoration: none; color: #666 }
.open ul.breadcrumb { padding-left: 110px }

.bgclr{
    background-color:#e8e9ed;
}
  .img_add{
    width: 80px;
    height: 50px;
    /* border-radius: 25px; */
 border: 1px solid #4446B1;
  }

  .user_icn{   
    text-align: center;
    color: #666;
    width: 100;
    height: 100;
  }


  .icn_clr{
    width: 50px;
    height: 50px;
    color: #565656;
    
  }

  .edt_icn{
    width: 28px;
    height: 28px;
  }


::ng-deep .ngx-pagination .current,
.btn-info {
  background: #434343  !important;
  border: transparent !important;
  border-radius: 20px !important;
  color: white;
}
::ng-deep .ngx-pagination .current:hover {
    background: #636364 !important;
    border-radius: 20px !important; 
    border: transparent !important;
  }
  ::ng-deep .ngx-pagination a:hover, .ngx-pagination button:hover {
    background: #636364 !important;
    border-radius: 20px !important; 
    color: white !important;
}

::ng-deep .pagination-next{
    background-color: #a9aaad !important;
    border-radius: 5px !important;
    font-family: 'RobotoMedium';
    text-transform: uppercase;
    color: white !important;
    margin-left: 1rem !important;
}

::ng-deep .pagination-next:hover{
    background: #636364 !important;
    border-radius: 5px !important;
    font-family: 'RobotoMedium';
    text-transform: uppercase;
    color: white !important;
}

::ng-deep .pagination-previous{
    background-color: #a9aaad !important;
    border-radius: 5px !important;
    font-family: 'RobotoMedium';
    text-transform: uppercase;
    color: white !important;
    margin-right: 1rem !important;
}

::ng-deep .pagination-previous:hover{
    background: #636364 !important;
    border-radius: 5px !important;
    font-family: 'RobotoMedium';
    text-transform: uppercase;
    color: white !important;
}

::ng-deep .ngx-pagination a, .ngx-pagination button {
    color: #0a0a0a;
    display: block;
    padding: 0.1875rem 0.625rem;
    border-radius: 0;
}
::ng-deep .ngx-pagination .disabled {
    padding: 0.1875rem 0.625rem;
    color: #cacaca !important;
    cursor: not-allowed !important;
}


