<div class="container-fluid bgclr">
    <!-- <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img src="..." class="rounded mr-2" alt="...">
          <strong class="mr-auto">Bootstrap</strong>
          <small class="text-muted">11 mins ago</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          Hello, world! This is a toast message.
        </div>
      </div> -->
    <ul class="breadcrumb reset">
        <li><a>Home</a></li>
        <li class="active">Banner</li>
    </ul>

    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-6">
                    <a>
                        <p>Banner</p>
                    </a>
                </div>
                <div class="col-6 txtright">
                    <button class="btn excelbtn" data-toggle="tooltip"  data-placement="left" title="Excel" (click)="exportAsXLSX()">
                        <i class="fa fa-file-excel-o fa-2x" aria-hidden="true"></i></button>
                </div>
            </div>
            <hr>

            <div class="row py-2">
                <div class="col-5 col-sm-5 col-md-6 col-lg-6">
                    <button class="btn btnclrs adduser"
                    [routerLink]="['/home',{outlets:{menucontent:'banner-add'}}]"><i
                            class="fa fa-plus-circle pr-1"></i>Add Banner</button>
                </div>

                <div class="col-7 col-sm-7 col-md-3 col-lg-3 ml-auto">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="searchText"
                                placeholder="Search User...">
                            <div class="input-group-append">
                                <span class="input-group-text btnclrs"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>






            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>S/No</th>
                            <th>Banner</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="banner_data.length == 0">
                        <tr>
                            <td colspan="5" class="text-center">No records available</td>
                        </tr>
                    </tbody>
                    <tbody *ngFor="let data of banner_data| paginate: { itemsPerPage: 3, currentPage: p }| search :['status']:searchText;let i=index ">

                        <tr >
                            <td>{{i+1}}</td>
                            <td><img class="img_add" [src]="data.image_path"> </td>
                            <td>
                                <ui-switch [checked]="data.status == 1"
                                 (change)="update(data,$event)" color="#4446B1"></ui-switch>
                            </td>
                            <td>
                                <span [routerLink]="['/home',{outlets:{menucontent:['banner-edit',data.id]}}]"
                              class="pr-2"><img class="edt_icn"
                                        src="/assets/images/edit.png"></span>
                                <span (click)="delete_bannerdata(data.id)"><img class="edt_icn"
                                        src="assets/images/delete.png"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="text-center">       
                <pagination-controls (pageChange)="p = $event"
                responsive="true"
                previousLabel="Previous"
                nextLabel="Next"
                screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page"></pagination-controls> 
        </div>

        </div>
    </div>
</div>
