<div class="container-fluid bg_clr">

    <div class="row py-2 justify-content-md-center justify-content-lg-center">
        <div class="col-sm-12 col-12 col-md-8 col-lg-8">
            <ul class="breadcrumb reset">
                <li><a>Banner</a></li>
                <li class="active"> Banner / Add</li>
            </ul>
        </div>
    </div>
    <div *ngIf="showerror" class="row justify-content-md-center justify-content-lg-center">
        <div class="col-sm-12 col-12 col-md-8 col-lg-8">
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert" (click)="alert_close()">&times;</button>
                <strong>Error!</strong> {{addmessage}}
              </div>
        </div>
    </div>

    <div class="row justify-content-md-center justify-content-lg-center">
        <div class="col-sm-12 col-12 col-md-8 col-lg-8">

            <form [formGroup]="banner_form" (ngSubmit)="onSubmit(banner_form.value)">
                <div class="card shadow  bg-white">
                    <div class="card-body">
                        <!-- <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="txt_title" for="banner_description">Banner Description </label>
                                    <input type="text" formControlName="banner_description"
                                        [ngClass]="{ 'is-invalid': submitted && f.banner_description.errors }"
                                        class="form-control bg_txt" id="banner_description" #fileInput>
                                    <div *ngIf="submitted && f.banner_description.errors" class="invalid-feedback">
                                        <div *ngIf="f.banner_description.errors.required">Banner Description is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->


                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="txt_title" for="status">Status </label>
                                    <select class="form-control bg_txt" formControlName="status"
                                        id="status"
                                        [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                                        <option value=1>Active</option>
                                        <option value=0>InActive</option>
                                    </select>
                                    <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                                        <div *ngIf="f.status.errors.required"> Description is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                <label class="txt_title">Image</label>
                                <div class="form-group">
                                    <input type="file" class="btn btn-primary" id="files"
                                        (change)="onSelectFile($event)" accept="image/*" name="filename2" style="display:none"
                                        formControlName="image"
                                        [ngClass]="{ 'is-invalid': submitted && f.image.errors }">

                                    <label class="btn shadow image-upload" for="files">Choose File</label>
                                    <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                                        <div *ngIf="f.image.errors.required">Please select image</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="row" *ngIf="showimage">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                <img [src]="url" height="100"> <br />
                            </div>
                        </div>

                        <!-- <div class="row">
                            <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                                <label class="txt_title">Banner Image</label>
                                <div class="form-group">
                                    <label class="btn shadow image-upload" for="files">Select Image+</label>
                                    <input type="file" formControlName="banner_image" accept="image/*"
                                        class="form-control bg_txt" id="files" hidden
                                        [ngClass]="{ 'is-invalid': submitted && f.banner_image.errors }">
                                    <div *ngIf="submitted && f.banner_image.errors" class="invalid-feedback">
                                        <div *ngIf="f.banner_image.errors.required">Please select banner image</div>
                                    </div>

                                </div>
                            </div>
                        </div> -->



                        <div class="row justify-content-md-center justify-content-lg-center">
                            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                                <button class="btn btnbgclr px-5 mt-5" type="submit">Submit</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>



</div>

