<div class="dashboard">

    <div class="row px-2">
    
        <div class="col-sm-12 col-12 col-md-3 col-lg-3">
            <div class="card  card-flip one">
                <div class="card-front">
                <i class="fa fa-users"></i>
                <div class="card-content">
                    <p class="title">Total Customers</p>
                    <p class="count">374</p>
                </div>
                </div>
                <div class="card-back text-center">
                    <div class="card-body cardbdy">
                        <div class="row">
                            <div class="col-6">
                                <p class="total">374</p>
                                <p class="subtitle">Home Users</p>
                            </div>
                            <div class="col-6">
                                <p class="total">374</p>
                                <p class="subtitle">Business Users</p>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
        </div><!-- col-xs-3 -->

        <div class="col-sm-12 col-12 col-md-3 col-lg-3">
            <div class="card card-flip two">
                <div class="card-front">
                <i class="fa fa-shopping-cart"></i>
                <div class="card-content">
                    <p class="title">Total Providers</p>
                    <p class="count">9</p>
                </div>
                </div>
                <div class="card-back text-center">
                    <div class="card-body cardbdy">
                        <div class="row">
                            <div class="col-6">
                                <p class="total">374</p>
                                <p class="subtitle">Home Providers</p>
                            </div>
                            <div class="col-6">
                                <p class="total">374</p>
                                <p class="subtitle">Business Providers</p>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
        </div><!-- col-xs-2 -->

        <div class="col-sm-12 col-12 col-md-3 col-lg-3">
            <div class="card card-flip three">
                <div class="card-front">
                <i class="fa fa-building"></i>
                <div class="card-content">
                    <p class="title">Total Branches</p>
                    <p class="count">1</p>
                </div>
                </div>
                <div class="card-back text-center">
                    <div class="card-body cardbdy">
                        <div class="row">
                            <div class="col-6">
                                <p class="total">374</p>
                                <p class="subtitle">Home Users</p>
                            </div>
                            <div class="col-6">
                                <p class="total">374</p>
                                <p class="subtitle">Business Users</p>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
        </div><!-- col-xs-2 -->

        <div class="col-sm-12 col-12 col-md-3 col-lg-3">
            <div class="card card-flip four">
                <div class="card-front">
                <i class="fa fa-money"></i>
                <div class="card-content">
                    <p class="title">Total Earning</p>
                    <p class="count">CLP&nbsp;231,018,281.24</p>
                </div>
            </div>
            <div class="card-back text-center">
                <div class="card-body cardbdy">
                    <div class="row">
                        <div class="col-6">
                            <p class="total">374</p>
                            <p class="subtitle">Home Users</p>
                        </div>
                        <div class="col-6">
                            <p class="total">374</p>
                            <p class="subtitle">Business Users</p>
                        </div>
                    </div>                      
                </div>
            </div>
        </div><!-- col-xs-2 -->
    </div>



</div>