
#customer {
    height: 200px;
    background-color: #ff8068; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #ff8068 , #fd7897); /* Standard syntax (must be last) */
  }
  #provider {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #ff8068 , #fd7897); /* Standard syntax (must be last) */
  }
  .clrtxt{
      color: white;
  }
  /* .dashboard .card_main {
    margin-bottom: 30px;
}
.dashboard .card.two {
    background: #ff875e;
    background: -moz-linear-gradient(-45deg, #ff875e 1%, #fc629d 100%);
    background: -webkit-linear-gradient(-45deg, #ff875e 1%, #fc629d 100%);
    background: linear-gradient(135deg, #ff875e 1%, #fc629d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff875e', endColorstr='#fc629d', GradientType=1);
}
.dashboard .card {
    float: left;
    width: 100%;
    margin-top: 15px;
    padding: 25px 20px;
    border-radius: 6px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.30);
    color: #fff;
    position: relative;
    overflow: hidden;
    font-size: 17px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.25);
}
.dashboard .card .fa {
    position: absolute;
    right: -10px;
    bottom: -10px;
    font-size: 80px;
    opacity: 0.4;
}
.fa {
    font-weight: normal !important;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.dashboard .card p.count {
    margin-bottom: 0px;
    font-family: 'RobotoMedium';
    font-size: 28px;
    margin-top: 20px;
} */

.dashboard .card { float: left; width: 100%; margin-top: 15px; padding: 25px 20px; border-radius: 6px; box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.30); color: #fff; position: relative; overflow: hidden; font-size: 17px; border-bottom: 4px solid rgba(0, 0, 0, 0.25) }
.dashboard .card .fa { position: absolute; right: -10px; bottom: -10px; font-size: 80px; opacity: 0.4; }
.dashboard .card.four .fa { bottom: -15px }
.dashboard .card p.count { margin-bottom: 0px; font-family: 'RobotoMedium'; font-size: 28px; margin-top: 20px }
.dashboard .card.one { background: #119BD2; background: -moz-linear-gradient(-45deg, #3bd1bf 0%, #119bd2 100%); background: -webkit-linear-gradient(-45deg, #3bd1bf 0%, #119bd2 100%); background: linear-gradient(135deg, #3bd1bf 0%, #119bd2 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bd1bf', endColorstr='#119bd2', GradientType=1); }
.dashboard .card.two { background: #ff875e; background: -moz-linear-gradient(-45deg, #ff875e 1%, #fc629d 100%); background: -webkit-linear-gradient(-45deg, #ff875e 1%, #fc629d 100%); background: linear-gradient(135deg, #ff875e 1%, #fc629d 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff875e', endColorstr='#fc629d', GradientType=1); }
.dashboard .card.three { background: #8363f9; background: -moz-linear-gradient(-45deg, #ee70e9 0%, #8363f9 100%); background: -webkit-linear-gradient(-45deg, #ee70e9 0%, #8363f9 100%); background: linear-gradient(135deg, #ee70e9 0%, #8363f9 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee70e9', endColorstr='#8363f9', GradientType=1); }
.dashboard .card.four { background: #39ce86; background: -moz-linear-gradient(-45deg, #f7cd13 1%, #39ce86 100%); background: -webkit-linear-gradient(-45deg, #f7cd13 1%, #39ce86 100%); background: linear-gradient(135deg, #f7cd13 1%, #39ce86 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7cd13', endColorstr='#39ce86', GradientType=1); }
.dashboard .card p.total { margin-bottom: 0px; font-family: 'RobotoMedium'; font-size: 28px; margin-top: 20px}
.dashboard .card p.subtitle { margin-bottom: 0px; font-family: 'RobotoMedium'; font-size: 15px;}

/*
flip card
*/
.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
  }
  
  .card-front {
    transform: rotateY(0deg);
  }
  
  .card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
  }
  
  .card-flip:hover .card-front {
    transform: rotateY(-180deg);
  }
    
  .card-flip:hover .card-back {
    transform: rotateY(0deg);
  }
