<div *ngIf="showLoader" class="container-fluid bgclr">
    <div class="loader">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div> 
      </div>
</div>

<div *ngIf="!showLoader" class="container-fluid bg_clr">
    <div class="row py-2 justify-content-md-center justify-content-lg-center">
        <div class="col-sm-12 col-12 col-md-8 col-lg-8">
            <ul class="breadcrumb reset">
                <li><a>Service</a></li>
                <li class="active"><a> Edit</a></li>
            </ul>
        </div>
    </div>


    <div *ngIf="showerror" class="row justify-content-md-center justify-content-lg-center">
        <div class="col-sm-12 col-12 col-md-8 col-lg-8">
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert" (click)="alert_close()">&times;</button>
                <strong>Error!</strong> {{addmessage}}
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center justify-content-lg-center">


        <div class="col-sm-12 col-12 col-md-8 col-lg-8">
            <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
                <div class="card shadow  bg-white">
                    <div class="card-body">
                   

                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="txt_title" for="service_name">Name</label>
                                    <input type="text" formControlName="name"
                                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                                        class="form-control bg_txt" id="service_name">
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">Service Name is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="txt_title" for="status"> Status </label>
                                    <select class="form-control bg_txt" formControlName="status" id="status"
                                        [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                                        <option value=1>Active</option>
                                        <option value=0>InActive</option>
                                    </select>
                                    <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                                        <div *ngIf="f.status.errors.required">Service status is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <label class="txt_title">Service Type</label>
                                <div class="custom-control custom-checkbox"
                                    *ngFor="let data of form.get('type').controls; let j = index"
                                    formArrayName="type">
                                    <div [formGroupName]="j">
                                        <input type="checkbox" name="age" formControlName="checkbox">
                                        {{data.value.name}}<br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <label class="txt_title">Vicinity</label>
                                <div class="custom-control custom-checkbox"
                                    *ngFor="let data of form.get('vicinity').controls; let j = index"
                                    formArrayName="vicinity">
                                    <div [formGroupName]="j">
                                        <input type="checkbox" name="age" formControlName="checkbox">
                                        {{data.value.name}}<br>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                <label class="txt_title">Image</label>
                                <div class="form-group">
                                    <input type="file" class="btn btn-primary" id="files"
                                        (change)="onSelectFile($event)" name="filename2" style="display:none"
                                        formControlName="new_image">
                                      
                                    <label class="btn shadow image-upload" for="files">Choose File</label>
           
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" formControlName="old_image" hidden>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                <img [src]="url" height="100"> <br/>
                                </div>    
                        </div>

                      


                        <div class="row justify-content-md-center justify-content-lg-center">
                            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                                <button class="btn btnbgclr px-5 mt-5" type="submit">Submit</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>



</div>