<div class="scroll-wrapper scrollbar-inner" style="position: relative;">
    <div class="scrollbar-inner scroll-content scroll-scrolly_visible"
      style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 100vh;">
      <header class="site_header home full_row">
        <div class="site_menu">
          <div class="scroll-wrapper scrollbar-inner" style="position: relative;">
            <div class="scrollbar-inner scroll-content scroll-scrolly_visible"
              style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 100vh;">
              <nav>
                <ul>
                  <li class=" " >
                    <a class=""   [routerLink]="['/home',{outlets:{menucontent:'dashboard'}}]">
                      <i class='fa fa-th'></i>Dashboard
                    </a></li>
                  <li class=" ">
                    <a class="" >
                      <i class='fa fa-user'></i>Sub Admin
                    </a></li>
                  <li class=" ">
                    <a class="" (click)="submenu_services()">
                      <i class="fa fa-list-alt" aria-hidden="true"></i>services
                    </a></li>
  
                  <li class=" ">
                    <a class="">
                      <i class="fa fa-list-alt" aria-hidden="true"></i> &nbsp; Service provider
                    </a></li>
                  <li class=" ">
                    <a class="">
                      <i class='fa fa-list-alt'></i> &nbsp;Payment Module
                    </a></li>
                  <li class=" ">
                    <a class="">
                      <i class='fa fa-users'></i>Users
                    </a></li>
                  <li class=" ">
                    <a class=""  [routerLink]="['/home',{outlets:{menucontent:'banner'}}]">
                      <i class='fa fa-list-alt'></i>Banner
                    </a></li>
                </ul>
              </nav>
            </div>
            <div class="scroll-element scroll-x scroll-scrolly_visible">
              <div class="scroll-element_outer">
                <div class="scroll-element_size"></div>
                <div class="scroll-element_track"></div>
                <div class="scroll-bar" style="width: 89px;"></div>
              </div>
            </div>
            <div class="scroll-element scroll-y scroll-scrolly_visible">
              <div class="scroll-element_outer">
                <div class="scroll-element_size"></div>
                <div class="scroll-element_track"></div>
                <div class="scroll-bar" style="height: 72px; top: 0px;"></div>
              </div>
            </div>
          </div>
          <!--scrollbar-inner-->
        </div>
        <!--site_menu-->
  
  
      </header>
  
      <div class="main">
        <ng-sidebar-container class="outline" style="height: 100vh;">
          <ng-sidebar class="bgclr_second" [(opened)]="_opened" closeOnClickOutside="true" animate="true" mode="push"
            position="left">
            <div class="sub_menu">
              <div class="scroll-wrapper scrollbar-inner" style="position: relative;">
                <div class="scrollbar-inner scroll-content scroll-scrolly_visible"
                  style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 100vh;">
                  <nav>
                    <h3>Users</h3>
                    <ul *ngFor='let data of submenu_data'>
                      <li 
                      [routerLink]="['/home',{outlets:{menucontent:data.path}}]"
                      ><a >{{data.name}}</a></li>
                      <!-- <li><a href="/admin/newsletter-subscriber" class="">Newsletter Subscribers</a></li>
                      <li><a href="/admin/customer-feedback" class="">Customer Feedback</a></li>                  -->
                    </ul>
                  </nav>
                </div>
                <div class="scroll-element scroll-x scroll-scrolly_visible">
                  <div class="scroll-element_outer">
                    <div class="scroll-element_size"></div>
                    <div class="scroll-element_track"></div>
                    <div class="scroll-bar" style="width: 89px;"></div>
                  </div>
                </div>
                <div class="scroll-element scroll-y scroll-scrolly_visible">
                  <div class="scroll-element_outer">
                    <div class="scroll-element_size"></div>
                    <div class="scroll-element_track"></div>
                    <div class="scroll-bar" style="height: 72px; top: 0px;"></div>
                  </div>
                </div>
              </div>
  
            </div>
          </ng-sidebar>
  
  
          <div ng-sidebar-content>
            <nav class="navbar navbar-expand-lg navbar-dark shadow-sm  bg-white rounded">
              <a class="menu_action" (click)="_toggleSidebar()" class="navbar-brand">
                <i class="fa fa-chevron-left"></i>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#account"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="account">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item px-md-2 px-lg-2">
                    <a class="nav-link">
                      Hi,Admin
                    </a></li>
                  <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-user-circle fa-2x"></i></a></li>
                </ul>
              </div>
            </nav>
            <div class="container-fluid"  [@routeAnimation]="getAnimationData()">
                <!-- <router-outlet name="menucontent"></router-outlet> -->
                <div >
                    <router-outlet name="menucontent"></router-outlet>
                  </div>
            </div>
          </div>
  
        </ng-sidebar-container>
      </div>
    </div>
  </div>