
.site_menu { text-align: center; padding: 0px; position: fixed; left: 0px; top: 0px; height: 100%; width: 101px; background: #2C2E38; z-index: 99999; box-shadow: inset -3px 1px 8px rgba(0, 0, 0, 0.8); }
.site_menu ul { margin: 0px; padding: 0px; list-style: none; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; -webkit-transition: all 0.3s ease; text-align: center }
.site_menu ul li { float: left; margin: 0px 0px; position: relative; width: 100%; border-bottom: 1px solid #23242C }
.site_menu ul li a { display: block; min-width: inherit; padding: 18px 10px; height: auto; color: #8c8d92; text-decoration: none; position: relative; text-transform: uppercase; font-family: 'RobotoMedium'; font-size: 10px; overflow: hidden; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: manipulation; touch-action: manipulation; border-right: 1px solid #23242c }
.site_menu ul li a.active:hover, .site_menu ul li a.active { background: #41424B !important; border-right: 0px }
.site_menu ul li a:hover {  color: #4446B1 }
.site_menu ul li a .fa { display: block; margin-bottom: 6px; font-size: 24px }
.site_menu nav { float: left; width: 100%; }


.outline{
    max-height: 100%;
    overflow-y:none;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 0px !important;
  padding-left:  0px !important;
}

   
.sub_menu {
    z-index: 9999;
   height: 100%;
   overflow-y: none;
    background: #41424B !important;
    padding: 30px 0px 0px 0px !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    transition: all 0.2s ease;
  }
  .sub_menu h3 {
    font-size: 21px;
    color: #fff;
    font-family: 'RobotoRegular';
    margin-bottom: 25px;
    padding: 0px 20px 
}

    .sub_menu ul {
    margin: 0px;
    padding: 0px 0px 30px 0px;
    list-style: none
 }

    .sub_menu a, .sub_menu li {
    display: block; 
}

    .sub_menu ul li a {
    padding: 9px 12px 0px 45px;
    font-family: 'RobotoLight';
    text-decoration: none;
    color: #fff
    !important; opacity: 0.6;
    letter-spacing: normal;
    position: relative 
}

    .sub_menu ul li a.active, body .sub_menu ul li
    a:hover {
         opacity: 1; 
        }

    .sub_menu ul li a:before{
         content: "\f1db"; font-family: FontAwesome;
    font-size: 12px; position: absolute;
    left: 20px;
    top: 14px; 
}


.scrollbar-inner { height: 100%; overflow: auto; width: 100%; max-height: none; }
.scroll-wrapper { overflow: hidden !important; padding: 0 !important; position: relative; }
.scroll-wrapper > .scroll-content { border: none !important; box-sizing: content-box !important; height: auto; left: 0; margin: 0; max-height: none; max-width: none !important; overflow: scroll !important; padding: 0; position: relative !important; top: 0; width: auto !important; }
.scroll-wrapper > .scroll-content::-webkit-scrollbar { height: 0; width: 0; }
.scroll-element { display: none; }

/*.scroll-element, .scroll-element div { box-sizing: content-box; }*/
.scroll-element.scroll-x.scroll-scrollx_visible, .scroll-element.scroll-y.scroll-scrolly_visible { display: block; }
.scroll-element .scroll-bar, .scroll-element .scroll-arrow { cursor: default; }
.scrollbar-inner > .scroll-element, .scrollbar-inner > .scroll-element div { background: none; border: none; margin: 0; padding: 0; position: absolute; z-index: 10; }
.scrollbar-inner > .scroll-element div { display: block; height: 100%; left: 0; top: 0; width: 100%; }
.scrollbar-inner > .scroll-element.scroll-x { bottom: 2px; height: 7px; left: 0; min-width: 100%; width: 100%; }
.scrollbar-inner > .scroll-element.scroll-y { height: 100%; min-height: 100%; right: 2px; top: 0; width: 7px; }
.scrollbar-inner > .scroll-element .scroll-element_outer { opacity: 0.3; -webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px; }
.scrollbar-inner > .scroll-element .scroll-element_size { background-color: #cccccc; display: none; opacity: 1; -webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px; -webkit-transition: opacity 0.2s; -moz-transition: opacity 0.2s; -o-transition: opacity 0.2s; -ms-transition: opacity 0.2s; transition: opacity 0.2s; }
.scrollbar-inner > .scroll-element .scroll-bar { background-color: #2C2E38; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; }

/* scrollbar height/width & offset from container borders */
.scrollbar-inner > .scroll-element.scroll-x .scroll-bar { bottom: 0; height: 7px; min-width: 24px; top: auto; }
.scrollbar-inner > .scroll-element.scroll-y .scroll-bar { left: auto; min-height: 24px; right: 0; width: 7px; }
.scrollbar-inner > .scroll-element.scroll-x .scroll-element_outer { bottom: 0; top: auto; left: 2px; -webkit-transition: height 0.2s; -moz-transition: height 0.2s; -o-transition: height 0.2s; -ms-transition: height 0.2s; transition: height 0.2s; }
.scrollbar-inner > .scroll-element.scroll-y .scroll-element_outer { left: auto; right: 0; top: 2px; -webkit-transition: width 0.2s; -moz-transition: width 0.2s; -o-transition: width 0.2s; -ms-transition: width 0.2s; transition: width 0.2s; }
.scrollbar-inner > .scroll-element.scroll-x .scroll-element_size { left: -4px; }
.scrollbar-inner > .scroll-element.scroll-y .scroll-element_size { top: 0px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -11px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -11px; }
 .scrollbar-inner > .scroll-element:hover .scroll-element_outer, .scrollbar-inner > .scroll-element.scroll-draggable .scroll-element_outer { overflow: hidden; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=70); opacity: 0.7; }
.scrollbar-inner > .scroll-element:hover .scroll-element_outer .scroll-element_size, .scrollbar-inner > .scroll-element.scroll-draggable .scroll-element_outer .scroll-element_size { opacity: 1; }
.scrollbar-inner > .scroll-element:hover .scroll-element_outer .scroll-bar, .scrollbar-inner > .scroll-element.scroll-draggable .scroll-element_outer .scroll-bar { height: 100%; width: 100%; -webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px; }
.scrollbar-inner > .scroll-element.scroll-x:hover .scroll-element_outer, .scrollbar-inner > .scroll-element.scroll-x.scroll-draggable .scroll-element_outer { height: 20px; min-height: 7px; }
.scrollbar-inner > .scroll-element.scroll-y:hover .scroll-element_outer, .scrollbar-inner > .scroll-element.scroll-y.scroll-draggable .scroll-element_outer { min-width: 7px; width: 12px; }
.site_menu .scrollbar-inner > .scroll-element .scroll-bar, .sub_menu .scrollbar-inner > .scroll-element .scroll-bar { background: #fff }
.site_menu .scrollbar-inner > .scroll-element.scroll-y .scroll-bar, .sub_menu .scrollbar-inner > .scroll-element.scroll-y .scroll-bar { width: 7px !important }

/* .site_menu .scroll-element_outer, .sub_menu .scroll-element_outer{opacity:0 !important; transition:0.2s !important}
.site_menu:hover .scroll-element_outer, .sub_menu:hover .scroll-element_outer{opacity:0.2 !important} */
.scrollbar-inner { overflow: hidden }
.scrollbar-inner:hover { overflow: auto }
a#unsubscribe i.fa { color: #eb0505 }


.main { width: 100%; height: 100%; display: table; padding-left: 101px;padding-top: 0px;}
.main .container { text-align: center }
.main .center { display: table-cell; vertical-align: middle; text-align: left }
.open .main { padding-left: 80px }.navbar-dark .navbar-toggler-icon {
    background-image: none !important;
  }




  
/* change transition animation to width when entire sidebar is toggled */
  

.nav-item .nav-link{
    color:black;
}
.navbar-toggler-icon{
color: black;
}
.navbar-dark .navbar-toggler-icon {
  background-image: none !important;
}
.navbar-brand{
  color: black;
}
.fa-user-circle{
  color:#4446B1;
}


.container-fluid { padding: 0px 0px }
.navbar-brand:hover {
    color: black !important;
}