
.txt_title{
    font-size: 14px;
    color: #5e6e75;
   
}

.txt_title1{
    font-size: 12px;
    color: white;
}

ul.breadcrumb
{
  margin: 0px;
  float: left;
  width: 100%;
  font-size:14px;
  color: #333;
  border-radius:0px;
  background:none;
}
ul.breadcrumb>li+li:before { 
content: "\f105";
font-family: FontAwesome;
color: #666;
padding: 0 10px 0 10px 
}

.breadcrumb li {
float: left
}

.breadcrumb li a {
     text-decoration: none; color: #666
}
/* .open ul.breadcrumb { padding-left: 110px } */
.sub_btn{
    margin-top: 5%;
    text-align: center;
    width: 100%;
}

.txt_title2{
    font-size: 14px;
    color:#333333 ;
    font-family: 'Roboto Medium';   
}

.bg_txt{
    background-color: #f7f7f7;
}
 
/* .image-upload{
text-align: center;
margin-bottom: 0px !important;
background-color: #4446B1;
color: white;
  } */
.image-upload{
    margin-bottom: 0px !important;
    width:40%; 
    background-color: #4446B1;
    color:white;
    letter-spacing:1px}