<div *ngIf="showLoader" class="container-fluid bgclr">
    <div class="loader">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div> 
      </div>
</div>

<div  *ngIf="!showLoader" class="container-fluid bgclr">

    <ul class="breadcrumb reset">
        <li><a>Home</a></li>
        <li class="active">Service</li>
    </ul>

    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-6">
                    <a>
                        <p>Service</p>
                    </a>
                </div>
                <div class="col-6 txtright">
                    <button class="btn excelbtn" data-toggle="tooltip" data-placement="left" title="Excel"
                        (click)="exportAsXLSX()">
                        <i class="fa fa-file-excel-o fa-2x" aria-hidden="true"></i></button>
                </div>
            </div>
            <hr>

            <div class="row py-2">
                <div class="col-5 col-sm-5 col-md-6 col-lg-6">
                    <button class="btn btnclrs adduser"
                        [routerLink]="['/home',{outlets:{menucontent:['main-service-add']}}]"><i
                            class="fa fa-plus-circle pr-1"></i>Add Service</button>
                </div>

                <div class="col-7 col-sm-7 col-md-3 col-lg-3 ml-auto">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="searchText"
                                placeholder="Search User...">
                            <div class="input-group-append">
                                <span class="input-group-text btnclrs"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>






            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>S/No</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="service_data.length == 0">
                        <tr>
                            <td colspan="5" class="text-center">No records available</td>
                        </tr>
                    </tbody>
                    <tbody
                        *ngFor="let data of service_data| paginate: { itemsPerPage: 3, currentPage: p }| search :['name']:searchText;let i=index  ">

                        <tr>
                            <td>{{i+1}}</td>
                            <td><img class="img_add" [src]="data.imageUrl"> </td>
                            <td>{{data.name}}</td>
                            <td>
                                <ui-switch [checked]="data.status == '1'" (change)="update(data,$event)"
                                    color="#4446B1"></ui-switch>
                            </td>
                            <td>
                                <span [routerLink]="['/home',{outlets:{menucontent:['main-service-edit',data._id]}}]"
                                    class="pr-2"><img class="edt_icn" src="/assets/images/edit.png"></span>
                                <span (click)="delete_main_service(data._id)"><img class="edt_icn"
                                        src="assets/images/delete.png"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="text-center">
                <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Previous"
                    nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                    screenReaderCurrentLabel="You're on page"></pagination-controls>
            </div>

        </div>
    </div>
</div>